html, body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
  font-family: Arial, sans-serif; /* Friendly font */
  padding: 0;
  margin: 0;
}

nav {
  z-index: 1000; /* High value to ensure it's above other elements */
  position: relative; /* z-index works on positioned elements */
}

main {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-responsive {
  position: relative;
  overflow: hidden; /* Added to maintain aspect ratio */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  width: 100%; /* Ensure full width */
  height: auto; /* Adjust height automatically */
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

a {
  color: #61dafb; /* A light blue for links, feel free to change */
}

code
.main-container {
  padding: 2rem; /* Adds padding to the top and bottom */
  max-width: 1200px;
  margin: 0 auto; /* Centers the container */
  width: 100%; /* Full width */
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.section p {
  margin-top: -1rem;
}


.column {
  flex: 1;
  padding: 1rem;
  min-width: 0; /* Prevents flex items from growing too large */
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Social Media Icons */
.nav-icon {
  color: #ffffff; /* White color, change as needed */
  font-size: 1.5rem; /* Larger icons */
}

.nav-icon:hover {
  color: #61dafb; /* Change color on hover */
}

.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.feature-column {
  width: calc(33.333% - 10px); /* Accounting for small margins */
  margin: 5px;
  text-align: left;
}

.feature-column img {
  max-width: 100%;
  height: auto;
}

.feature-column p {
  /* Additional styles for paragraphs if needed */
}

.feature-header {
  text-align: center; /* Centers the headers */
  margin-bottom: 1rem; /* Spacing between header and image */
}

@media (max-width: 768px) {
  .feature-section {
    flex-direction: column;
  }

  .feature-column {
    width: 100%;
    margin: 10px 0;
  }
  .section {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

/* Email Signup Section Adjustments */
.email-signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem; /* Space between elements */
  background-color: #cc0000; /* Change this to your preferred color */
  width: 100%; /* Full width of the container */
}

/* Adjust the form within the email section for better alignment */
.email-signup-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Form takes full width of the section */
}

/* You might want to adjust the width of the input and button as well */
.email-signup-section input[type="email"],
.email-signup-section button {
  flex: 1; /* Allows input and button to expand */
  margin: 0 0.5rem; /* Adds a little margin on the sides */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .email-signup-section form {
    flex-direction: column;
  }

  .email-signup-section input[type="email"],
  .email-signup-section button {
    width: 90%; /* Adjusts width for smaller screens */
    margin: 0.5rem 0; /* Margin for vertical layout */
  }
}

/* Email Signup Button Adjustments */
.email-signup-section button {
  padding: 0.5rem 1rem; /* Comfortable padding */
  flex: none; /* Prevents the button from expanding like the input field */
  width: auto; /* Lets the button size itself based on its content */
  max-width: 200px; /* Maximum width to ensure it doesn't get too large */
  /* ...other button styles... */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .email-signup-section button {
    width: 90%; /* Full width on smaller screens for easy tapping */
    margin: 0.5rem 0; /* Consistent margin for vertical layout */
  }
}

/* Cookie Consent Banner Styles */
.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Dark background for visibility */
  color: #fff; /* Light text for contrast */
  padding: 1rem;
  text-align: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.cookie-consent-banner p {
  margin: 0 0 1rem 0; /* Spacing for the text */
}

.cookie-consent-banner button {
  background-color: #61dafb; /* Matching your site's button style */
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-consent-banner button:hover {
  background-color: #4da6d3; /* Slightly darker on hover */
}

.impressum-content {
  text-align: left;
  padding: 4rem;
  max-width: 800px; /* Or your desired width */
  margin: auto; /* Centers the container */
}
.impressum-content li {
  padding-bottom: .5rem;
}